[package]
name = "tako-rs"
version = "0.3.2"
edition = "2024"
description = "Tako is a lightweight async web framework for Rust."
license = "MIT"
repository = "https://github.com/rust-dd/tako"
authors = ["Daniel Boros <dancixx@gmail.com>"]
keywords = ["web", "framework", "async", "http"]
readme = "README.md"
documentation = "https://docs.rs/tako-rs"
homepage = "https://github.com/rust-dd/tako"

[dependencies]
# ahash = "0.8.12"
anyhow = "1.0.98"
async-trait = "0.1.88"
base64 = "0.22.1"
brotli = { version = "8.0.1", optional = true }
bytes = "1.10.1"
cookie = { version = "0.18.1", features = ["private", "signed"] }
dashmap = "6.1.0"
flate2 = { version = "1.1.2", optional = true }
futures-util = "0.3.31"
http = "1.3.1"
http-body-util = "0.1.3"
hyper = { version = "1.6.0", features = ["full"] }
hyper-util = { version = "0.1.14", features = ["tokio"] }
jwt-simple = "0.12.12"
matchit = "0.8.6"
mime = "0.3.17"
mime_guess = "2.0.5"
multer = { version = "3.1.0", optional = true }
once_cell = "1.21.3"
pin-project-lite = "0.2.16"
prost = { version = "0.14.1", optional = true }
rustls = { version = "0.23.28", optional = true }
rustls-pemfile = { version = "2.2.0", optional = true }
serde = { version = "1.0.219", features = ["derive"] }
serde_bytes = "0.11.17"
serde_json = "1.0.140"
sha1 = "0.10.6"
simd-json = { version = "0.15.1", optional = true }
tikv-jemallocator = { version = "0.6.0", optional = true }
tokio = { version = "1.45.1", features = ["full"] }
tokio-rustls = { version = "0.26.2", optional = true }
tokio-stream = "0.1.17"
tokio-tungstenite = "0.27.0"
tokio-util = { version = "0.7.15", features = ["compat"] }
tracing = "0.1.41"
tracing-subscriber = { version = "0.3.19", optional = true }
url = "2.5.4"
urlencoding = "2.1.3"
uuid = { version = "1.17.0", optional = true, features = ["v4"] }
webpki-roots = { version = "1.0.1", optional = true }
zstd = { version = "0.13.3", optional = true }

[features]
client = ["dep:tokio-rustls", "dep:rustls", "dep:webpki-roots"]
default = []
file-stream = []
http2 = []
jemalloc = ["dep:tikv-jemallocator"]
multipart = ["dep:multer", "dep:uuid"]
plugins = ["dep:brotli", "dep:flate2"]
protobuf = ["dep:prost"]
simd = ["dep:simd-json", "jemalloc"]
tls = ["dep:tokio-rustls", "dep:rustls", "dep:rustls-pemfile"]
tako-tracing = ["dep:tracing-subscriber"]
zstd = ["dep:zstd", "plugins"]

[lib]
name = "tako"
path = "src/lib.rs"
doctest = false

[[example]]
name = "auth"
path = "examples/auth/src/main.rs"

[[example]]
name = "file-stream"
path = "examples/file-stream/src/main.rs"
required-features = ["file-stream"]

[[example]]
name = "health"
path = "examples/health/src/main.rs"

[[example]]
name = "hello-world"
path = "examples/hello-world/src/main.rs"

[[example]]
name = "multipart"
path = "examples/multipart/src/main.rs"
required-features = ["multipart"]

[[example]]
name = "stream-compression"
path = "examples/stream-compression/src/main.rs"
required-features = ["plugins"]

[[example]]
name = "streams"
path = "examples/streams/src/main.rs"

[[example]]
name = "websocket"
path = "examples/websocket/src/main.rs"

[[example]]
name = "websocket-http2"
path = "examples/websocket-http2/src/main.rs"
required-features = ["http2", "tls"]

[[example]]
name = "with-state"
path = "examples/with-state/src/main.rs"

[[example]]
name = "extractors-multi"
path = "examples/extractors-multi/src/main.rs"
