[package]
name = "hello-world"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.98"
compio = { version = "0.17.0", features = ["macros"] }
tako-rs = { path = "../..", features = ["compio"] }
